<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>293001894166-6gahqhg5gvmn4959k8d2lo3ebpcn5o7r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.293001894166-6gahqhg5gvmn4959k8d2lo3ebpcn5o7r</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>293001894166-on0qnlfpnb5c0vatpplle0jcehqh256f.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDJMK3w9zgmWGqSdMeNR6AP2cve-UM6KBA</string>
	<key>GCM_SENDER_ID</key>
	<string>293001894166</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.matthewwen.purduect</string>
	<key>PROJECT_ID</key>
	<string>purdue-contact-tracing</string>
	<key>STORAGE_BUCKET</key>
	<string>purdue-contact-tracing.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:293001894166:ios:278a419e741e60c04d5837</string>
	<key>DATABASE_URL</key>
	<string>https://purdue-contact-tracing.firebaseio.com</string>
</dict>
</plist>